/* CSS */

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid #ccc;
    padding: 10px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: #f5f5f5;
}

.post-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px 0;
    background-color: #f9f9f9;
}

.post-card h3 {
    margin: 0;
    padding: 0;
}

.post-card p {
    margin: 0;
    padding: 5px 0;
}

.post-card button {
    background-color: #3498db;
    color: #fff;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    font-weight: bold;
}

.post-card button:hover {
    background-color: #2980b9;
}

.modal-dialog {
    min-width: 60%;
}